

.container {
    align-items: center;
    padding: 20px;
    margin: auto;
}

.row {
    justify-content:space-evenly;
    padding-top: 50px;

}

.card {
    padding-top: 15px;
    margin: 10px;
}

.jumbotron {
    background-color: gainsboro;
    padding-top: 15px;
    padding-left: 20px;
    margin-top: 30px;
    text-align: justify;
    height: 325px;
    border-radius: 10px;
}

.lead {
    padding-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    
}

